@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../media/bg_lavender.jpg') fixed no-repeat;
  background-size: cover;
  }

a {
  color: rgb(255,255,255);
  text-decoration: none;
  border-bottom: 1px dashed rgba(255,255,255,0.8)
}

a:hover {
  color: rgba(207,181,59,0.7);
  border-bottom: none;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/*-- container styles --*/

#container {
  margin: 0 auto;
  text-align: center;
  width: 70vw;
}

/*-- header styles --*/

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  text-align: center;
  margin-top: 2.5rem;
}

  #header > * {
    position: relative;
    margin-top: 3.4rem;
  }

    #header > *:before {
      content: '';
      display: block;
      position: absolute;
      top: calc(-3.5rem - 1px);
      left: calc(50% - 1px);
      width: 2px;
      height: calc(3.5rem + 1px);
      background: rgb(207,181,59);
    }

  #header > :first-child {
    margin-top: 0;
  }

    #header > :first-child:before {
      display: none;
    }

  #header .logo {
    width: 6.6rem;
    height: 6.6rem;
    line-height: 6.6rem;
    border: solid 2px rgb(207,181,59);
    border-radius: 100%;
  }

/* logo typography */
    .logo img {
      border-radius: 50%;
      height: 6.4rem;
      width: 6.4rem;
    }

  #header .content {
    border-style: solid;
    border-color: rgb(207,181,59);
    border-top-width: 2px;
    border-bottom-width: 2px;
    max-width: 100%;
  }

    #header .content .inner {
      background-color: rgba(255,255,255,0.65);
      padding: 1.5rem 2rem 2rem;
      overflow: hidden;
    }

      #header .content .inner > :last-child {
        margin-bottom: 0;
      }

    #header .content p {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      line-height: 2;
    }

    .inner h2 {
      text-transform: uppercase;
      letter-spacing: 0.25rem;
    }

    #header nav ul {
      display: flex;
      margin: 0;
      list-style: none;
      padding-left: 0;
      border: solid 2px rgb(207,181,59);
      border-radius: 4px;
    }

      #header nav ul li {
        padding-left: 0;
        border-left: solid 2px rgb(207,181,59);
      }

        #header nav ul li:first-child {
          border-left: 0;
        }

        #header nav ul li a {
          display: block;
          min-width: 7.5rem;
          height: 2.75rem;
          line-height: 2.75rem;
          padding: 0 1.25rem 0 1.45rem;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          font-size: 0.8rem;
          border-bottom: 0;
          background-color: rgba(0,0,0,0.2);
        }

          #header nav ul li a:hover {
            color: rgb(0,0,0);
            background-color: rgba(255, 255, 255, 0.75);
            text-decoration: none;
          }

    #header nav.use-center:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 2px);
      width: 2px;
      height: 100%;
      background: #ffffff;
    }

    #header nav.use-center ul li.is-middle {
      border-left: 0;
    }

    /*-- pages styles -- */

    #pages {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      top: 5rem;
      left: 0;
      max-width: 100%;
      margin: 0 6rem;
      z-index: 3;
    }

/* article 'window' style */

    #pages article {
      /* position: relative; */
      margin-bottom: 3.5rem;
      padding: 3.5rem;
      min-width: 68rem;
      padding: 3.5rem 3rem 2.5rem 3rem;
      background-color: rgba(27, 31, 34, 0.9);
      border-radius: 4px;
      opacity: 1;
      display: none;
    }

          #pages article .close {
            color: rgb(202,202,202);
            position: absolute;
            top: 0;
            right: 1rem;
            font-size: 2em;
            font-weight: bold;
          }

          #pages article .close:hover,
          #pages article .close:focus {
              color: rgb(0,0,0);
              text-decoration: none;
              cursor: pointer;
          }

          article #enquire {
            min-width: 40rem;
          }

/* article 'window' typography */

    #pages article {
      color: rgb(220,220,220);
      text-align: left;
    }

    #pages article h2 {
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        text-align: center;
    }

    #pages article img {
        max-width: 100%;
        border: 0;
    }

/* article : soaps list */

    article#soaps {
      text-align: center;
    }

    article#soaps h3 {
       text-transform: uppercase;
       letter-spacing: 0.25rem;
       text-align: center;
     }

     small {
       font-size: 0.75em;
       letter-spacing: 0.25rem;
       display: block;
     }

     /* A Slideshow */

      .slider-container {
        width: 100%;
	      margin-top: -2rem;
      }

      .my-slider {
        width: 100%;
      	min-height: 500px;
      	position: relative;
      	overflow: hidden;
      	padding: 0;
        margin-bottom: 2rem;
      }

        .slide {
        	padding: 0 3.5rem;
        	width: 100%;
          position: absolute;
        }

        .slider-container #prev, .slider-container #next {
        	cursor: pointer;
        	z-index: 3;
        	background: rgb(0,0,0);
        	height: 50px;
        	width: 50px;
        	display: inline-block;
        	position: relative;
        	top: 250px;
        	margin: 0;
        	padding: 0;
        }

        .slider-container #next {
        	float: right;
        	right: -2px;
        }

        .slider-container #prev {
        	float: left;
        	left: 0;
        }

        .arrow-right {
        	width: 0;
        	height: 0;
        	border-top: 15px solid transparent;
        	border-bottom: 15px solid transparent;
        	border-left: 15px solid rgb(255,255,255);
        	position:relative;
        	top: 20%;
        	right: -40%;
        }

        .arrow-left {
        	width: 0;
        	height: 0;
        	border-top: 15px solid transparent;
        	border-bottom: 15px solid transparent;
        	border-right: 15px solid rgb(255,255,255);
        	position: relative;
        	top: 20%;
        	left: 30%;
        }

/* article : stockists map */

    #map_container {
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }

    #map_container iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }


/*-- contact form --*/

  .field {
    text-align: left;
  }

  label {
    display:block;
    padding-right: 0.5rem;
  }

  input, textarea {
    width: 100%;
    margin: 0.25rem 0 1rem;
    border: 0;
    border-radius: 2px;
    padding: 0.2rem;
    font-size: 1rem;
    font-family: Lato, sans-serif;
  }

    input:focus, textarea:focus {
      outline: none;
      border: 2px solid rgb(207,181,59);
    }

    input[type=submit] {
      margin-top: 0.25rem;
      padding: 0.5rem;
      max-width: 10rem;
      border: solid 2px rgb(207,181,59);
      border-radius: 4px;
      background: none;
      color: rgb(207,181,59);
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }

    input[type=submit]:hover {
      background: rgb(207,181,59);
      color: rgb(0,0,0)
    }

/*-- social --*/

  ul.social {
    padding: 1rem 0 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  ul.social li {
    padding: 0 0.5rem;
  }

    .social a {
      border-bottom: none;
    }

    ul.social .fa {
      font-size: 2em;
    }

/*-- footer styles --*/

    footer {
      position: relative;
      bottom: 0;
      margin: 1.5rem 0 0;
      padding: 1rem 2rem;
    }

    footer p {
      color: rgb(220,220,220);
      font-size: 0.75em;
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }


/* MOBILE STYLES */

  @media only screen and (max-width: 480px) {

    html {
      font-size: 12pt;
    }

    #container {
      padding: 1rem;
    }

    #header  {
      margin: 0 auto;
      padding: 0;
    }

      #header .content .inner {
        padding: 1rem;
      }

        .inner h2 {
          font-size: 1.2em;
        }

        .inner p {
          font-size: 0.5em;
        }

      #header nav ul {
        flex-direction: column;
      }

      #header nav ul li {
        padding-left: 0;
        border-left: 0;
        border-bottom: 2px solid rgba(207,181,59,0.7);
      }

          #header nav ul li:last-child {
            border-bottom: 0;
          }

      #pages {
        margin: 0;
      }

      #pages article {
        padding: 2rem 1rem 1.5rem 1rem;
        min-width: 100%;
      }

      .flex-grid {
        display: block;
      }

  }
